{% extends 'base.html' %}
{% block content %}
    {% if item %}
        <form class="form-inline my-2 my-lg-0" method="POST">
            {% csrf_token %}
            <input class="form-control mr-sm-2" type="search" placeholder="Nova Tarefa" aria-label="Search" name="title"
            value="{{item.title}}">
            <input type="hidden" value="{{item.completed}}" name="completed">
            <button class="btn btn-success my-2 my-sm-0" type="submit">Salvar</button>
        </form>
    {% endif %}
    
{% endblock %}