{% extends 'base.html' %}
{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
            
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{message}}
            </div>
        {% endfor %}
    {% endif %}
   {% if list %}
        <table class="table table-bordered" style="width:60%; margin:auto">
        {% for item in list %}
                {% if item.completed %}
                    <tr class="table-secondary" >
                        <td style="text-decoration: line-through"> {{item.title}} </td>
                        <td><center> <a href="{% url 'change_todo' item.id %}">Desfazer</a> </center></td>
                        <td> <center> <a href="{% url 'delete' item.id %}">Apagar</a> <center/> </td>
                    </tr>
                {% else %}
                    <tr>
                        <td>
                            <a href="{% url 'edit_todo' item.id %}">{{item.title}}</a>
                        </td>
                        <td><center> <a href="{% url 'change_todo' item.id %}">Completar</a> </center></td>
                        <td> <center> <a href="{% url 'delete' item.id %}">Apagar</a> <center/> </td>
                    </tr>
                {% endif %}
                    
        {% endfor %}
        <table/>
   {% endif %}
    
   
    
{% endblock %}