{% extends 'base.html' %}
{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Hey! </strong> Tarefa cadastrada com sucesso !!!
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
        {% endfor %}
    {% endif %}
    lista
    <br>
    {% for item in list %}
        {{item.title}}
        
        {{item.completed}}
        <br>
    {% endfor %}
{% endblock %}