{% extends 'base.html' %}
{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
            
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{message}}
            </div>
        {% endfor %}
    {% endif %}
   {% if list %}
        <table class="table table-bordered" style="width:60%; margin:auto">
        {% for item in list %}
                <tr>
                    <td>{{item.title}}</td>
                    <td>{{item.completed}}</td>
                    <td> <center> <a href="{% url 'delete' item.id %}">Apagar</a> <center/> </td>
                </tr>    
        {% endfor %}
        <table/>
   {% endif %}
    
   
    
{% endblock %}